.banner {
  position: relative;
  height: 800px;
  background: url(../images/banner-main.jpg) no-repeat center;
  background-size: cover;
  overflow: hidden;
  z-index: 1;
  @media only screen and (max-width : 992px) {
    height: 600px;
  }
  @media only screen and (max-width : 480px) {
    height: 400px;
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right bottom,rgba(0,0,0,.05),rgba(0,0,0,.05));
  }
  &__about {
    padding: 50px 50px 0 53px;
    width: 395px;
    height: 286px;
    color: #fff;
    background: url(../images/bg-about-banner.svg) no-repeat;
    font-family: $fontMedium;
    margin-left: auto;
    //animation: shake-animation 4s ease-in infinite;
    //animation-direction: alternate;
    @media only screen and (max-width : 992px) {
      margin: 0 auto;
    }
    @media only screen and (max-width : 480px) {
      width: 288px;
      padding: 30px 20px 20px 20px;
      font-size: .8rem;
    }
    & span {
      font-family: $fontBold;
      font-size: 1.2rem;
    }
  }
  &__heading {
    font-family: $fontBold;
    font-size: 3rem;
    color: $colorBlue;
    margin: 50px 0;
    @media only screen and (max-width : 992px) {
      font-size: 2.4rem;
    }
    @media only screen and (max-width : 768px) {
      font-size: 2rem;
    }
    @media only screen and (max-width : 480px) {
      font-size: 1.5rem;
      margin: 30px 0;
    }
  }
  &__list {
    & li {
      font-family: $fontRegular;
      margin-bottom: 15px;
      padding-left: 25px;
      position: relative;
      transition: all .3s;
      font-size: 1.1rem;
      //color: #333;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0,-50%);
        width: 15px;
        height: 15px;
        background: url("../images/list.svg") no-repeat;
        transition: all .3s;
      }
      &:hover {
        &:before {
          transform: translate(0, 5px);
        }
      }
    }
  }
  &__container {
    position: relative;
    z-index: 2;
  }
  &__transform {
    position: absolute;
    right: 0;
    top: 0;
    width: calc(100% + 150px);
    height: calc(100% + 150px);
    will-change: transform;
    animation: bgTransform 100s linear infinite;
    transform: translate3d(75px,-75px,0) rotate(.001deg);
    background-image: url("../images/banner-main.jpg");
    background-position: 50% 50%;
    background-size: cover;
    pointer-events: none;
    z-index: -1;
  }
}

@keyframes bgTransform {
  25% {
    transform: translate3d(150px, -150px, 0) scale(1.05) rotate(0.001deg);
  }
  75% {
    transform: translate3d(0, 0, 0) scale(1.1) rotate(0.001deg);
  }
}

@keyframes shake-animation {
  0%, 20% {
    transform: translate(0,0) scale(1) rotate(0);

  }

  10% {
    transform: translate(-20px, 0px) rotate(-5deg);
  }
}
