.contact-us {
  background-color: white;
  position: relative;
  padding: 200px 0;
  background-image: url(../images/contact-us-bg.jpg);
  background-repeat: no-repeat;
  background-position: top 100px center;
  background-size: cover;
}
