.content {
  padding: 80px 0;
  @media only screen and (max-width : 480px) {
    padding: 50px 0;
  }
  & .accordion-list .card-body a {
    position: relative;
    color: $colorBlue;
    transition: width .6s cubic-bezier(.25,.8,.25,1) 0s;
    &:hover {
      color: #5785C1;
      &:before {
        width: 100%;
        left: 0;
        right: auto;
      }
    }
    &:before {
      content: '';
      width: 0;
      height: 1px;
      bottom: -1px;
      position: absolute;
      left: auto;
      right: 0;
      z-index: 1;
      -webkit-transition: width .6s cubic-bezier(.25,.8,.25,1) 0s;
      -o-transition: width .6s cubic-bezier(.25,.8,.25,1) 0s;
      transition: width .6s cubic-bezier(.25,.8,.25,1) 0s;
      background: currentColor;

    }
  }
  & h6 {
    font-family: $fontMedium;
  }
  &__heading-2 {
    //color: $colorBlue;
    font-family: $fontMedium;
    font-size: 1.5rem;
  }
  &__img {
    margin: 30px 0;
    text-align: center;
  }
  &__list {
    margin: 15px 0;
    & li {
      position: relative;
      padding-left: 20px;
      &:not(:first-child) {
        margin-top: 10px;
      }
      &:before {
        content: "—";
        position: absolute;
        top: 50%;
        left: 0;
        color: $colorBlue;
        transform: translate(0,-50%);
      }
    }
  }
}