.footer {
  background-color: white;
  position: relative;
  padding: 100px 0;
  z-index: 2;
  @media only screen and (max-width : 480px) {
    padding: 50px 0;
  }
  & .copyright-text {
    color: $colorBlue;
  }
  &__line {
    margin: 30px 0 50px 0;
    height: 2px;
    width: 100%;
    background-color: #efefef;
  }
  &__list {
    margin-bottom: 30px;
    & li {
      margin-bottom: 10px;
      & a {
        position: relative;
        transition: all .2s;
        &:hover {
          color: rgba($colorBlue, .8);
        }
        &:before {
          content: '';
          width: 0;
          height: 1px;
          bottom: -1px;
          position: absolute;
          left: auto;
          right: 0;
          z-index: 1;
          transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
          background: currentColor;
        }
        &:hover::before {
          width: 100%;
          left: 0;
          right: auto;
        }
      }
    }
  }
  &-item {
    margin-bottom: 30px;
    color: $colorBlue;

    & p {
      line-height: 1.8;
    }
    &__logo {
      max-width: 160px;
      //margin-bottom: 30px;
    }
    & h3 {
      font-size: 1.4rem;
      font-family: $fontMedium;
      margin-bottom: 30px;
      color: $colorBlue;
    }
  }
}
.footer-logo-sd {
  &:hover .footer-logo-sd__icon span:after {
    transform: translateX(0);
  }
  &__text {
    color: #7f7f7f;
  }
  &__icon {
    position: relative;
    width: 56px;
    height: 56px;
    line-height: 56px;
    background-color: #efefef;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    margin-right: 14px;
    flex: 0 0 auto;
    z-index: 1;
    overflow: hidden;
    font-size: 1.2rem;
    & span img {
      width: 30px;
    }
    & span:after {
      content: '';
      display: inline-block;
      position: absolute;
      left: -1px;
      right: -1px;
      top: -1px;
      bottom: -1px;
      transition: .3s;
      z-index: -1;
      transform: translateX(-100%);
      border-radius: 50%;
      background: #f8f8f8;
    }
  }
}