.modal-my {
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-color: rgba(white,.5);
    & div {
      position: absolute;
      transform-style: preserve-3d;
    }
  }
  & .modal-title {
    font-family: $fontMedium;
    font-size: 21px;
    text-align: center;
    margin-right: -30px;
    color: $colorBlue;
  }
  & .modal-header {
    padding-left: 2rem;
    border-bottom: none;
    & .small {
      font-size: .9rem;
    }
    @media only screen and (max-width: 768px) {
      padding: 1rem;
    }
  }
  & .modal-body {
    padding: 2rem;

    @media only screen and (max-width: 768px) {
      padding: 1rem;
    }
  }
  & .small {
    margin: 0;
    font-size: 1rem;
  }
  & .modal-content {
    border-radius: 0;
    border: 0;
    background-color: #f7f8f8;
    clip-path: polygon(15% 0%, 100% 0, 100% 85%, 85% 100%, 0 100%, 0% 15%);
  }
  &__icon {
    width: 48px;
    height: 48px;
    border: 2px solid $colorPrimary;
    color: $colorPrimary;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    border-radius: 7px;
  }
}