.overlay {
  min-height: 330px;
  position: relative;
  background: url(../images/overlay.jpg) no-repeat center center;
  background-size: cover;
  z-index: 1;
  @media only screen and (max-width : 768px) {
    min-height: 250px;
  }
  @media only screen and (max-width : 480px) {
    min-height: 180px;
  }
  &__content {
    min-height: 330px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    z-index:4;
    padding: 70px 0;
    @media only screen and (max-width : 768px) {
      min-height: 250px;
    }
    @media only screen and (max-width : 480px) {
      min-height: 180px;
    }
    & h1 {
      font-size: 2.4rem;
      font-family: $fontBold;
      color: $colorBlue;
      @media only screen and (max-width : 992px) {
        font-size: 2rem;
      }
      @media only screen and (max-width : 768px) {
        font-size: 1.5rem;
      }
      @media only screen and (max-width : 480px) {
        font-size: 1.2rem;
      }
    }
  }
  &__breadcrumb-wrapper {
    @media only screen and (max-width : 768px) {
      //display: none;
    }
  }
  &__breadcrumb {
    padding: 8px 0px;
    margin: 10px 0 20px 0;
    list-style: none;
    display: inline-block;
    font-size: .9rem;
    &>.active {
      color: #777;
    }
    & a {
      color: #262424;
      &:hover {
        border-bottom: 1px solid #262424;
      }
    }
    &>li {
      display: inline-block;
    }
    &>li+li:before {
      padding: 0 5px;
      color: #262424;
      content: "/\00a0";
    }
  }
  & h1 {

  }
}