.solution-map {
  padding: 80px 0 50px 0;
  position: relative;
  &__cluster-link {
    font-family: $fontBold;
    margin-bottom: 15px;
    //margin-top: 15px;
    text-transform: uppercase;
    font-size: 1.1rem;
  }
  &:before {
    content: '';
    position: absolute;
    height: 100%;
    left: 0;
    background: url(../images/bg-section-left.png) no-repeat;
    top: 0;
    z-index: -1;
    width: 100%;
    opacity: .7;
  }
  @media only screen and (max-width : 480px) {
    padding: 50px 0;
  }
  &__bg {
    position: relative;
  }
  &__tooltip-icon {
    width: 53px;
    height: 53px;
    background-color: $colorBlue;
    border: 3px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    transition: all .3s;

    @media only screen and (max-width : 768px) {
      width: 43px;
      height: 43px;
    }
    @media only screen and (max-width : 668px) {
      width: 33px;
      height: 33px;
    }
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 3;
      cursor: pointer;
    }
    & i {
      font-size: 1.5rem;
      transition: all .3s;
      @media only screen and (max-width : 668px) {
        font-size: 1rem;
      }
    }
    &:hover {
      background-color: rgba($colorBlue, .8);
    }

    &_1 {
      position: absolute;
      left: 40%;
      top: 14%;
    }
    &_2 {
      position: absolute;
      left: 17%;
      top: 38%;
    }
    &_3 {
      position: absolute;
      right: 37%;
      top: 33%;
    }
    &_4 {
      position: absolute;
      right: 39%;
      top: 68%;
    }
    &:hover .solution-map__tooltip-text {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
      transition: all .3s;
    }
    &:hover .solution-map__tooltip-text_wide {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
      transition: all .3s;
    }
  }

  &__tooltip-text {
    position: absolute;
    right: -325px;
    top: -30px;
    z-index: 10;
    width: 300px;
    padding: 25px 15px 25px 20px;
    background: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    opacity: 0;
    visibility: hidden;
    border-left: 3px solid $colorBlue;
    color: #333;
    transform: translateX(-20px);
    transition: all .3s .5s;
    &_bg-light-blue {
      border-left: 3px solid #306FC1;
    }
    &_bg-light-brown {
      border-left: 3px solid #E3BE39;
    }
    &_bg-orange {
      border-left: 3px solid #E37839;
    }
    @media only screen and (max-width : 768px) {
      right: -127px;
      top: 70px;
      transform: translateY(-20px);
    }
    @media only screen and (max-width : 668px) {
      top: 60px;
      right: -132px;
    }
    @media only screen and (max-width : 380px) {
      width: 270px;
      right: -117px;
    }
    &_wide {
      position: absolute;
      right: -325px;
      top: -30px;
      z-index: 10;
      width: 300px;
      padding: 25px 15px 25px 20px;
      background: #fff;
      box-shadow: 0 0 5px rgba(0,0,0,.3);
      opacity: 0;
      visibility: hidden;
      border-left: 3px solid $colorBlue;
      color: #333;
      transform: translateX(-20px);
      transition: all .3s .5s;
      @media only screen and (min-width : 992px) {
        right: -625px;
        width: 600px;
      }
      @media only screen and (max-width : 668px) {
        left: -50px;
        top: 60px;
        transform: translateY(-20px);
      }
      @media only screen and (max-width : 380px) {
        width: 270px;
      }
      &:before {
        background: #fff 0 0;
        box-shadow: -5px -5px 5px -5px rgba(0,0,0,.3);
        content: "";
        display: block;
        height: 25px;
        position: absolute;
        left: -10px;
        top: 41px;
        transform: rotate(-45deg);
        width: 25px;
        z-index: -1;
        @media only screen and (max-width : 768px) {
          left: 48px;
          top: -11px;
          transform: rotate(45deg) ;
        }

      }

    }
    &:before {
      background: #fff 0 0;
      box-shadow: -5px -5px 5px -5px rgba(0,0,0,.3);
      content: "";
      display: block;
      height: 25px;
      position: absolute;
      left: -10px;
      top: 41px;
      transform: rotate(-45deg);
      width: 25px;
      z-index: -1;
      @media only screen and (max-width : 768px) {
        left: 50%;
        top: 0;
        transform: rotate(45deg) translate(-50%, 0);
      }

    }
  }
  &__root-link {
    font-family: $fontMedium;
    font-size: 1rem;
    & a {
      color: $colorBlue;
    }
  }
  &__list {
    margin: 20px 0 20px 5px;
    & li {
      margin: 0 0 10px;
      padding-left: 20px;
      position: relative;
      font-family: $fontLight;
      color: $colorBlue;
      & a {
        position: relative;
        &:before {
          content: '';
          width: 0;
          height: 1px;
          bottom: -1px;
          position: absolute;
          left: auto;
          right: 0;
          z-index: 1;
          transition: width .6s cubic-bezier(.25,.8,.25,1) 0s;
          background: currentColor;
        }
        &:hover:before {
          width: 100%;
          left: 0;
          right: auto;
        }
      }
      &:before {
        content: "—";
        position: absolute;
        top: 50%;
        left: 0;
        color: $colorBlue;
        transform: translate(0,-50%);
      }
    }
  }
}

.solution-item {
  &-wrap {
    &:first-child {
      @media only screen and (max-width : 992px) {
        margin-top: 50px;
      }
    }
    filter: drop-shadow(8px 10px 20px rgba(0, 0, 0, 0.1));
    transition: all .7s cubic-bezier(.645,.045,.355,1);
    &:hover .solution-item{
      background-color: $colorBlue;
    }
    &:hover .solution-item__heading a{
      color: white;
    }
    &:hover .solution-item__section{
      color: white;
    }
  }
  /*margin-bottom: 30px;
  padding: 80px 15px 80px 50px;
  background: url(../images/solution-bg.svg) 0 0  no-repeat;
  */
  padding: 70px 15px 60px 50px;
  background-color: #fff;
  clip-path: polygon(65% 0,100% 30%,100% 100%,38% 100%,0 77%,0 24%);
  margin-bottom: 50px;
  position: relative;
  transition: all .7s cubic-bezier(.645,.045,.355,1);
  @media only screen and (max-width : 768px) {
    padding: 70px 15px 60px 15px;
  }
  &__heading {
    font-size: 1.3rem;
    font-family: $fontMedium;
    color: $colorBlue;
    margin-bottom: 10px;

    & a {
      transition: all .7s cubic-bezier(.645,.045,.355,1);
      &:hover {
        color: rgba($colorBlue, .8);
      }
      &:before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 3;
        pointer-events: auto;
        content: "";
        background-color: transparent;
      }
    }
  }
  &__section {
    font-size: .9rem;
    color: #7f7f7f;
    transition: all .7s cubic-bezier(.645,.045,.355,1);
  }
}
.solution-directions {
  background-color: white;
  height: 100%;
  width: 100%;
  padding: 50px 0;
  position: relative;
  @media only screen and (max-width : 992px) {
    margin-bottom: 50px;
  }
  &__angle {
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 2;
    width: 50%;
    //height: 50px;
  }
  &__angle-bottom {
    position: absolute;
    bottom: -1px;
    right: -1px;
    z-index: 2;
    width: 50%;
    transform: rotate(180deg);
  }
  &__heading {
    font-size: 1.3rem;
    font-family: $fontMedium;
    color: $colorBlue;
    text-align: center;
  }
  &__list {
    margin-top: 30px;
    font-size: .9rem;

    &-item {
      position: relative;
      &:nth-child(1) {
        &>a {
          color: $colorBlue;
        }
      }
      &:nth-child(2) {
        &>a {
          color: #306FC1;
          border-left: 3px solid #306FC1;
          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 3px;
            background-color: #306FC1;
            transform: scaleY(0);
            transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
          }
        }
      }
      &:nth-child(3) {
        &>a {
          color: #E3BE39;
          border-left: 3px solid #E3BE39;
          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 3px;
            background-color: #E3BE39;
            transform: scaleY(0);
            transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
          }
        }
      }
      &:nth-child(4) {
        &>a {
          color: #E37839;
          border-left: 3px solid #E37839;
          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 3px;
            background-color: #E37839;
            transform: scaleY(0);
            transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
          }
        }
      }
      &>a {
        font-size: 1rem;
        position: relative;
        padding: 10px 15px;
        transition: all .4s;
        color: #7f7f7f;
        border-left: 3px solid $colorBlue;
        z-index: 2;
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 3px;
          background-color: $colorBlue;
          transform: scaleY(0);
          transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
        }
        &:hover:before {
          transform: scaleY(1);
          width: 100%;
        }
        & span {
          position: relative;
          z-index: 10;
        }
        &:hover {
          color: white;
        }

      }

      & a {
        display: block;
      }

      & ul {
        margin: 0 15px 0 25px;
        & li {
          padding-left: 20px;
          position: relative;
          font-family: $fontLight;
          & a {
            position: relative;
            color: #7f7f7f;
            &:hover {
              color: $colorBlue;
            }
            /*&:before {
              content: '';
              width: 0;
              height: 1px;
              bottom: -1px;
              position: absolute;
              left: auto;
              right: 0;
              z-index: 1;
              transition: width .6s cubic-bezier(.25,.8,.25,1) 0s;
              background: currentColor;
            }
            &:hover:before {
              width: 100%;
              left: 0;
              right: auto;
            }*/
          }
          &:before {
            content: "—";
            position: absolute;
            top: 50%;
            left: 0;
            color: #7f7f7f;
            transform: translate(0,-50%);
          }
          &:hover:before {
            color: $colorBlue;
          }
        }
        & li:not(:last-child) {
          margin: 10px 0;
        }
      }
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}