$fontLight: 'GothamProLight';
$fontRegular: 'GothamProRegular';
$fontMedium: 'GothamProMedium';
$fontBold: 'GothamProBold';

$colorDark: #262424;
$colorBlue: #003a82;
$colorRed: #cc242d;
$colorGray: #B5B5B5;
$colorLightGrayBg: #efefef;
$colorPrimary: #2E1D86;
$colorSecondary: #FFED00;