.video-popup {
  &__wrap-img {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0,58,130,.6)
    }
  }
  &__icon-video {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%, -50%);
  }
  &__wrap-btn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    & .video-mark {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      pointer-events: none;
      & .wave-pulse {
        width: 1px;
        height: 0;
        margin: 0 auto;
        &:before, &:after {
          opacity: 0;
          content: '';
          display: block;
          position: absolute;
          width: 200px;
          height: 200px;
          top: 50%;
          left: 50%;
          border-radius: 50%;
          border: 3px solid #fff;
          -webkit-animation: zoomBig 3.25s linear infinite;
          animation: zoomBig 3.25s linear infinite;
          -webkit-animation-delay: 0s;
          animation-delay: 0s;
        }
        &:before {
          -webkit-animation-delay: .75s;
          animation-delay: .75s;
        }
      }
    }
  }

}

@keyframes zoomBig {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 1;
    border-width: 3px;
  }
  40% {
    opacity: .5;
    border-width: 2px;
  }
  65% {
    border-width: 1px;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
    border-width: 1px;
  }
}
