<div class="preloader-activate preloader-active open_tm_preloader">
  <div class="preloader-area-wrap">

    <div class="assembly">
      <div class="comp-3d comp-3d--i">
        <div class="cube">
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
        </div>
        <div class="cube">
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
        </div>
        <div class="cube">
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
        </div>
        <div class="cube">
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
        </div>
        <div class="cube">
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
        </div>
        <div class="cube">
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
        </div>
        <div class="cube">
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
        </div>
        <div class="cube">
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
        </div>
        <div class="cube">
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
        </div>
        <div class="cube">
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
        </div>
        <div class="cube">
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
        </div>
        <div class="cube">
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
        </div>
        <div class="cube">
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
        </div>
        <div class="cube">
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
        </div>
        <div class="cube">
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
        </div>
        <div class="cube">
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
        </div>
        <div class="cube">
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
        </div>
        <div class="cube">
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
        </div>
        <div class="cube">
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
          <div class="cube__face"></div>
        </div>
      </div>
      <div class="comp-3d comp-3d--o">
        <div class="pos">
          <div class="cube">
            <div class="cube__face"></div>
            <div class="cube__face"></div>
            <div class="cube__face"></div>
            <div class="cube__face"></div>
            <div class="cube__face"></div>
            <div class="cube__face"></div>
          </div>
        </div>
        <div class="pos">
          <div class="cube">
            <div class="cube__face"></div>
            <div class="cube__face"></div>
            <div class="cube__face"></div>
            <div class="cube__face"></div>
            <div class="cube__face"></div>
            <div class="cube__face"></div>
          </div>
        </div>
        <div class="pos">
          <div class="cube">
            <div class="cube__face"></div>
            <div class="cube__face"></div>
            <div class="cube__face"></div>
            <div class="cube__face"></div>
            <div class="cube__face"></div>
            <div class="cube__face"></div>
          </div>
        </div>
        <div class="pos">
          <div class="cube">
            <div class="cube__face"></div>
            <div class="cube__face"></div>
            <div class="cube__face"></div>
            <div class="cube__face"></div>
            <div class="cube__face"></div>
            <div class="cube__face"></div>
          </div>
        </div>
        <div class="pos">
          <div class="cube">
            <div class="cube__face"></div>
            <div class="cube__face"></div>
            <div class="cube__face"></div>
            <div class="cube__face"></div>
            <div class="cube__face"></div>
            <div class="cube__face"></div>
          </div>
        </div>
        <div class="pos">
          <div class="cube">
            <div class="cube__face"></div>
            <div class="cube__face"></div>
            <div class="cube__face"></div>
            <div class="cube__face"></div>
            <div class="cube__face"></div>
            <div class="cube__face"></div>
          </div>
        </div>
        <div class="pos">
          <div class="cube">
            <div class="cube__face"></div>
            <div class="cube__face"></div>
            <div class="cube__face"></div>
            <div class="cube__face"></div>
            <div class="cube__face"></div>
            <div class="cube__face"></div>
          </div>
        </div>
        <div class="pos">
          <div class="cube">
            <div class="cube__face"></div>
            <div class="cube__face"></div>
            <div class="cube__face"></div>
            <div class="cube__face"></div>
            <div class="cube__face"></div>
            <div class="cube__face"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>